# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
/out/
/build/

# Kotlin / Ktor / Gradle
.gradle/
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.class
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws

# MacOS
.DS_Store
